/* font-family: 'Montserrat', sans-serif; */

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    display: grid;
    width: 80%;
    grid-template-areas:
            "head"
            "para"
            "thumb"
            "display"
            "footer";
}

div img {
    width: 20%;
}

#thumb-bar {
    display: flex;
}

header {
    text-align: center;
    grid-area: head;
}

p {
    text-align: center;
    grid-area: para;
}

#thumb-bar {
    grid-area: thumb;
}

.displayed-img {
    grid-area: display;
    width: 100%;
}

footer {
    display: grid;
    grid-template-areas:
            "label"
            "input"
            "button"
}

label {
    grid-area: label;
    text-align: center;
}

input {
    grid-area: input;
}

button {
    grid-area: button;
}

@media screen and (min-width: 640px){
    p {
        text-align: left;
    }

    footer {
        display: inline-block;
        padding: 10px;
    }
}